html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td, img { margin: 0; padding: 0; }

html, body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  width: 100%;
  height: 100%;
}

/*/////////////////////////////////////////////*/
/* INDEX */
/*/////////////////////////////////////////////*/

#index {
  width: 100%;
  height: 100%;
}

/*/////////////////////////////////////////////*/
/* HEADER */
/*/////////////////////////////////////////////*/

#title {
  text-align: center;
  padding: 40px;
}

#title img {
  width: 120px;
}

nav {
  text-align: center;
  font-size: 14px;
}

nav ul {
  list-style: none;
  /*border: 1px solid black;*/
}

nav ul li {
  display: inline;
  padding: 0px 30px 0px 30px;
  /*border: 1px solid black;*/

}

/*/////////////////////////////////////////////*/
/* GENERAL */
/*/////////////////////////////////////////////*/

.active {
  border-bottom: 1px dashed rgb(50, 50, 50);
}

nav a:link     {text-decoration: none; }
nav a:visited  {text-decoration: none; }
nav a:hover    {text-decoration: none; opacity: 0.7;}
nav a:active   {text-decoration: none; opacity: 0.7;}

a.link1:link     {text-decoration: none; color: #006666;}
a.link1:visited  {text-decoration: none; color: #006666;}
a.link1:hover    {text-decoration: none; color: #006666; border-bottom: 1px dashed #006666;}
a.link1:active   {text-decoration: none; color: #006666; border-bottom: 1px dashed #006666;}

.webdev {
  background-color: rgb(235, 250, 250);
  padding: 10px;
  font-size: 9pt;
  width: 150px;
  float: right;
  text-align: center;
  line-height: 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/*/////////////////////////////////////////////*/
/* img-gallery */
/*/////////////////////////////////////////////*/

.img-gallery {
  margin: auto;
  display: block;
  text-align: center;
}

.img-gallery .single {
  height: 600px;
  margin: 80px 0 80px 0;
}

.img-gallery .home {
  width: 70%;
  margin: 80px 0 80px 0;
}

.img-gallery .landscape-img {
  width: 80%;
  margin: 15px 0 15px 0;
}

.img-gallery .portrait-img {
  width: 45%;
  margin: 15px 0 15px 0;
}

/*/////////////////////////////////////////////*/
/* MODAL */
/*/////////////////////////////////////////////*/

.modal-img {
  cursor: pointer;
  transition: 1.0s;
}

.modal-img:hover {opacity: 0.8;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(250,250,250,0.95); /* white w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: 94%;
}

/* Caption of Modal Image */
#caption {
  font-size: 10pt;
  /*width: 90%;*/
  text-align: center;
  padding: 10px 0;
  color: rgb(50, 50, 50);
  bottom: 20px;
}

/* The Close Button */
.close {
  position: absolute;
  background-color: rgb(235, 250, 250);
  padding: 15px 50px 15px 15px;
  top: 20px;
  left: 20px;
  color: rgb(50, 50, 50);
  font-size: 9pt;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*
.img-gallery {
  width: 100%;
  height: 100%;
}

.img-gallery img {
  height: 93%;
}


.img-gallery a:link     {text-decoration: none; color: #145252;}
.img-gallery a:visited  {text-decoration: none; color: #145252;}
.img-gallery a:hover    {text-decoration: underline; color: #293d3d; cursor: pointer;}
.img-gallery a:active   {text-decoration: underline; color: #293d3d;}

.img-gallery .position-indicator {
  position: absolute;
  top: 75px;
  left: 35px;
}

.img-gallery .title {
  font-size: 0.8em;
  margin-bottom: 10px;
  text-align:center;
}*/
